// Basic colors
$black: #000;
$white: #fff;

// Primary colors
$primary-50: #edf3ff;
$primary: #1052e0;
$secondary: #494959;

// Gray colors
$gray-500: #566574;
$gray-700: #303e49;

// Green colors
$green-500: #1e976c;

// Red colors
$red-100: #c6282840;
$red-300: #c62828;
